<%- include('../partials/header') %>

<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs %></td>
    </tr>
  </tbody>
</table>
<h1>Add New Destination</h1>
<form
  class="add-des"
  method="POST"
  action="/flights/<%= flight._id %>/destinations"
>
  <label>Destination Airport</label>
  <select name="airport">
    <option value="JFK">JFK</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>Arrival Time </label>
  <input type="datetime-local" name="arrival" />
  <button class="add-des-btn" type="submit">Add Destination Info</button>
</form>
<h1>Destination List</h1>
<% if (flight.destinations.length){ %>

<table>
  <thead>
    <tr>
      <th>Destination Airport</th>
      <th>Destination Time</th>
    </tr>
  </thead>
  <tbody>
    <% flight.destinations.forEach(function(d){ %>
    <tr>
      <td><%= d.airport %></td>
      <td><%= d.arrival %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>There are no destinations yet.</h5>
<% } %>
<h1>Tickets</h1>
<a href="/tickets/new/<%= flight._id %>">New Ticket</a>
<% if (tickets.length) { %>
<table class="ticket-table">
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Seat</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.forEach((ticket) => { %>
    <tr>
      <td><%= ticket._id %></td>
      <td><%= ticket.seat %></td>
      <td>$<%= ticket.price %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>There are no tickets yet.</h5>
<% } %>
